aside{
    min-width: 80px;
    height: 100vh;
    background-color: #132226;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 10px #132226;
    transition: .3s;
    z-index: 100;
    .active{
        position: absolute;
        right: -5px;
        width:5px;
        top:0px;
        background-color: #BE9063;
        transition: .3s;
    }
    .aside-item{
        border-bottom: 1px solid #525B56;
        width: 75%;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        i{
            color: #A4978E;
            font-size: 2rem;
            pointer-events: none;
            white-space: nowrap;
        }
        p{
            color: #A4978E;
            font-size: 0.8rem;
            margin-top: 1rem;
            pointer-events: none;
            white-space: nowrap;
            
        }
    }
}
.closeAside{
    transform: translateX(-85px);
    min-width: 0;
    width: 0;
    overflow: hidden;
}