$myColor1:#040C0E;
$myColor2:#132226;
$myColor3:#525B56;
$myColor4:#BE9063;
$myColor5:#A4978E;






















// $myColor1:#6C6B74;
// $myColor2:#2E303E;
// $myColor3:#9199BE;
// $myColor4:#54678F;
// $myColor5:#212624;

// $myColor1:#A7414A;
// $myColor2:#282726;
// $myColor3:#6A8A82;
// $myColor4:#A37C27;
// $myColor5:#563838;

// $myColor1:#1B1924;
// $myColor2:#3F3232;
// $myColor3:#74593D;
// $myColor4:#B5C1B4;
// $myColor5:#DCD9C6;